*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    margin-bottom: 5px;
    background-color: #182C61;
    color: #ecf0f1;
}
    /*Nome da loja*/
.nomelj{
    padding-left: 20px;
    padding-bottom: 3px;
}

    /*Seção de Links */
.container{
    max-width:1280px ;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container li{
    list-style: none;
}
    /*Link "Sobre a Loja e Contato*/
.container a{
    text-decoration: none;
    margin-right: 30px;
    color: white;
}
.container a:hover{
    color: red;
}
    /*Imagem da loja*/
.fotolj img{
    margin-top: 23px;
    margin-left: 25px;
    margin-right:23px ;
}
    /* Container da imagem */
.fotolj{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    align-content: space-between;

}
    /* texto "Sobre a loja*/
.sobre{
    margin-top: 20px;
    color: #182C61;
    margin-bottom: 20px;
}
    /*Imagens dos consoles */
main .consoles {
    display: flex;
    align-content: start;
    justify-content: flex-start;
    gap: 16px;               
    list-style: none;
}
    /* formato e tamanho do Texto sobre a loja*/
.texto-loja{
    max-width: 600px; 
    word-break: break-word;
}


